---
// src/components/Footer.astro
import { Icon } from "astro-icon/components";
---

<footer>
    <section class="ex-footer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="ex-middle-wrapper">
                        <div class="ex-heading">
                            <h3 class="ex-text">Exo Space Planetarium</h3>
                        </div>
                        <div class="ex-para">
                            <p class="ex-text">
                                Embark on an interstellar journey through the
                                silent reaches of the cosmos. Exo Space
                                Planetarium merges cutting-edge astrophysical
                                data with immersive cinematic technology to
                                bring the distant pulsars and nebulae of the
                                Milky Way directly to your senses. Explore the
                                final frontier where science meets the infinite,
                                and witness the birth of stars in
                                high-definition clarity.
                            </p>
                        </div>

                        <div class="ex-heading">
                            <h3 class="ex-text">Join the Voyage</h3>
                        </div>

                        <div class="ex-news-letter">
                            <form id="" action="#" method="POST">
                                <input
                                    type="email"
                                    name="email"
                                    placeholder="Email Address"
                                    class=""
                                    required
                                />
                                <button
                                    type="submit"
                                    class="ex-submit-btn"
                                    aria-label="Subscribe"
                                >
                                <div class="ex-icon-wrapper">
                                    <Icon name="lucide:mail" class="ex-icon" />
                                </div>
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="ex-middle-wrapper">
                        <div class="ex-heading">
                            <h3 class="ex-text">Quick-links</h3>
                        </div>
                        <nav class="ex-nav-links">
                            <ul class="ex-list-style">
                                <li>
                                    <a href="#"
                                        ><div class="ex-icon-wrapper">
                                            <Icon
                                                name="lucide:chevron-right"
                                                class="ex-icon"
                                            />
                                        </div>Home</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        ><div class="ex-icon-wrapper">
                                            <Icon
                                                name="lucide:chevron-right"
                                                class="ex-icon"
                                            />
                                        </div>About Us</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        ><div class="ex-icon-wrapper">
                                            <Icon
                                                name="lucide:chevron-right"
                                                class="ex-icon"
                                            />
                                        </div>FAQ</a
                                    >
                                </li>
                                <li>
                                    <a href="#"
                                        ><div class="ex-icon-wrapper">
                                            <Icon
                                                name="lucide:chevron-right"
                                                class="ex-icon"
                                            />
                                        </div>Contact Us</a
                                    >
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ex-icon-wrapper">
                                            <Icon
                                                name="lucide:chevron-right"
                                                class="ex-icon"
                                            />
                                        </div>Whats New!</a
                                    >
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="ex-icon-wrapper">
                                            <Icon
                                                name="lucide:chevron-right"
                                                class="ex-icon"
                                            />
                                        </div>
                                        Blogs
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <div class="ex-middle-wrapper">
                        <div class="ex-heading">
                            <h3 class="ex-text">Social media</h3>
                        </div>
                        <div class="ex-para">
                            <p class="ex-text">
                                Stay updated on latest updates on our site
                                follow us on our Social media handles mentioned
                                below.
                            </p>
                        </div>
                        <nav class="ex-social-links">
                            <a href="#">
                                <div class="ex-icon-wrapper">
                                    <Icon
                                        name="lucide:facebook"
                                        class="ex-icon"
                                    />
                                </div>
                            </a>
                            <a href="#">
                                <div class="ex-icon-wrapper">
                                    <Icon
                                        name="lucide:instagram"
                                        class="ex-icon"
                                    />
                                </div>
                            </a>
                            <a href="#">
                                <div class="ex-icon-wrapper">
                                    <Icon
                                        name="lucide:twitter"
                                        class="ex-icon"
                                    />
                                </div>
                            </a>
                            <a href="#">
                                <div class="ex-icon-wrapper">
                                    <Icon
                                        name="lucide:youtube"
                                        class="ex-icon"
                                    />
                                </div>
                            </a>
                            <a href="#">
                                <div class="ex-icon-wrapper">
                                    <Icon name="lucide:send" class="ex-icon" />
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>

                <div class="col-12">
                    <div class="ex-bottom-wrapper">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="ex-para">
                                    <p class="ex-text">
                                        &copy; 2026 Your Brand. All rights
                                        reserved.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <nav class="ex-nav-links">
                                    <a href="#">Privacy Policy</a> | <a href="#"
                                        >Terms & Conditions</a
                                    >
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
